header {
  background-color: var(--color-white);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 16px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  width: 100%;
}

.mobile-menu {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.mobile-menu img {
  width: 28px;
  height: 28px;
}

.logo-link {
  margin: 0 auto;
}

.logo {
  max-height: 40px;
  max-width: 180px;
}

.nav-links {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-white);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 100;
  display: flex;
  flex-direction: column;
}

.nav-active {
  transform: translateX(0);
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 16px;
  border-bottom: 1px solid var(--color-dark-transparent);
}

.title-menu-mob {
  font-weight: 600;
  font-size: 18px;
  margin: 0 auto;
}

.close-menu img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.nav-links ul {
  list-style: none;
  padding-top: 20px;
}

.nav-links li {
  padding: 15px 20px;
  border-bottom: 1px solid var(--color-dark-transparent);
}

.nav-links a {
  font-weight: 500;
  font-size: 16px;
  color: var(--color-dark);
  display: block;
}

.nav-links li.active a {
  color: var(--color-terracota);
  font-weight: 700;
}

@media (min-width: 769px) {

  .mobile-menu,
  .title-menu-mob,
  .close-menu,
  .menu-header {
    display: none;
  }

  .container-header {
    max-width: 1400px;
    margin: 0 auto;
  }

  .logo-link {
    margin: 0;
  }

  .logo {
    max-width: 200px;
  }

  .nav-links {
    position: static;
    transform: none;
    flex-direction: row;
    width: auto;
    height: auto;
    background-color: transparent;
  }

  .nav-links ul {
    display: flex;
    padding: 0;
  }

  .nav-links li {
    padding: 0 15px;
    border-bottom: none;
  }

  .nav-links a {
    font-size: 18px;
  }
}